<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>xgxxxgemss</title>
    <script type="text/javascript" src="/static/js/ace/ace.js"></script>
    <script type="text/javascript" src="/static/js/ace/theme-github.js"></script>
    <script type="text/javascript" src="/static/js/ace/mode-json.js"></script>
    <script type="text/javascript" src="/static/js/main.js"></script>
<script type="text/javascript">
    window.onload=function(){
            var editor = ace.edit('ace-editor');
            editor.setTheme("ace/theme/github");
            var PyMode = require("ace/mode/json").Mode;
            editor.getSession().setMode(new PyMode());

            editor.getSession().setTabSize(4);
            editor.getSession().setUseSoftTabs(true);
            editor.getSession().setValue(json_format(editor.getSession().getValue(), false))
    }
</script>
<link rel="stylesheet" type="text/css" href="/static/css/style.css" />
</head>
<body>
<form action="/admin/config_view" method="post" enctype="multipart/form-data">
<input type="file" name='xls' value="上传文件" />
<input type="submit" value="开始生成配置" />
</form>



<div id='ace-editor'>{{ config_value }}</div>



</body>
</html>

