{% extends "frame.html" %}
{% block main %} 

{% if selfIsSuper %}
{% if not employeeInreview %}
<button onClick="location.href='/admin/manage/in_review?username={{employeeUsername}}&in_review=true'" class="btn btn-danger btn-sm col-sm--2">禁用账户</button>
{% else %}
<button onClick="location.href='/admin/manage/in_review?username={{employeeUsername}}&in_review=false'" class="btn btn-success btn-sm col-sm--2">开通账户</button>
{% endif %}
{% elif employeeInreview %}
<button class="btn btn-danger btn-sm col-sm--2">账户审核中...</button>
{% endif %}

<form class="form-horizontal" action="/admin/manage/change_password/{{employeeUsername}}" method="post">
  <div class="form-group">
    <label class="col-sm-2 control-label">Email</label>
    <div class="col-sm-5">
      <p class="form-control-static">{{ employeeUsername}}@honve.com</p>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">真实姓名</label>
    <div class="col-sm-10">
      <p class="form-control-static">{{employeeRealname}}</p>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">角色</label>
    <div class="col-sm-10">
      <p class="form-control-static">{{employeeRole}}</p>
    </div>
  </div>

  <div class="form-group">
    <label for="newPassword" class="col-sm-2 control-label">新密码</label>
    <div class="col-sm-5">
      <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="newPassword">
    </div>
  </div>

  <div class="form-group">
     <label for="newPasswordCheck" class="col-sm-2 control-label">确认新密码</label>
    <div class="col-sm-5">
       <input type="password" class="form-control" id="newPasswordCheck" name="newPasswordCheck" placeholder="checkPassword">
    </div>
  </div>
  <div class="form-group">
  <span class="label label-warning col-sm-offset-3">{{msg}}</span>
  <button type="submit" class="btn btn-default col-sm-offset-6">修改密码</button>
  </div>
</form>

<form action="/admin/manage/apply_permissions/{{employeeUsername}}" method="post">
  <div class="row">
    <h3 class="col-sm-offset-1">拥有权限</h3>
  </div>

  {% for perm in all_permissions %}
    {% if perm['permission'] in employeePermissions %}
    {% if not selfIsSuper %}
    <fieldset disabled>
    {% endif %}
        <div class="checkbox row">
            <label class="col-sm-offset-2">
                <input type="checkbox" name="new_permissions" value="{{perm['permission']}}" checked="checked">
                {{perm['description']}}
            </label>
        </div>
    
    {% if not selfIsSuper %}
    </fieldset>
    {% endif %}
    {% else %}
    <div class="checkbox row">
        <label class="col-sm-offset-2">
            <input type="checkbox" name="new_permissions" value="{{perm['permission']}}">
            {{perm['description']}}
        </label>
    </div>
    {% endif %}
    
  {% endfor %}
     <button type="submit" class="btn btn-default col-sm-offset-5">
    {% if not selfIsSuper %}
    申请权限
    {% else %}
    更改权限
    {% endif %}
    </button>
</form>

{% if employeeNewPermissions %}
<form action="/admin/manage/set_new_permissions/{{employeeUsername}}" method="post">
    <div class="row">
        <h3 class="col-sm-offset-1">申请中的权限</h3>
    </div>
    {% for perm in all_permissions %}
    {% if perm['permission'] in employeeNewPermissions %}
    <div class="checkbox row">
        <label class="col-sm-offset-2">
            <input type="checkbox" name="confirm_new_permissions" value="{{perm['permission']}}" checked="checked">
            {{perm['description']}}
        </label>
    </div>
    {% endif %}
    {% endfor %}
    {% if selfIsSuper %}
    <button type="submit" class="btn btn-default col-sm-offset-5">
        确认添加申请权限
    </button>
    {% endif %}
</form>
{% endif %}

{% endblock %}

