{% extends "frame.html" %}
{% block main %}
<script type="text/javascript" src="/static/js/main.js"></script>

<form class="form-inline">
  <div class="form-group col-md-offset-1">
    <label><h4>查询玩家信息</h4></label>
    <input type="text" class="form-control" id="uid" name='uid' placeholder="" value={{uid}}>
  </div>
  <button type="submit" class="btn btn-warning">确定</button>
</form>
<div>
  {% if uid == '' %} 
  <div class="alert alert-danger" role="alert">无此uid玩家!</div>
  {% endif %}
<!--
  <div>
    <form class="form-inline">
      <div class="form-group input-group">
        <span class="input-group-addon" id="uid-input">查询uid: </span>
      <input type="text" class="form-control" aria-describedby="uid-input">
      </div>
      <button type="submit" class="btn">查找</button>
    </form>
  </div>
</div>
-->
{% if not detail_category %}
<div class="container-fluid"> 
  <div class="row">
    <div class="col-md-5">
      <table class="table table-bordered">
        <tr>
          <td class="col-md-4"><label>用户uid</label></td>
          <form>
          <td class="col-md-3">{{uid}}</td>
          <td class="col-md-5"></td>
          </form>
        </tr>
        <tr>
          <td class="col-md-4"><label>用户名</label></td>
          <td class="col-md-3" id="uname">{{name}}</td>
          <td class="col-md-5"><input type="text" id="newname"><button onclick="modify_user('{{can_modify}}','uname','newname')">修改</button></td>
        </tr>
        <tr>
          <td class="col-md-4"><label>性别</label></td>
          <td class="col-md-3">{{gender}}</td>
          <td class="col-md-5"></td>
          </form>
        </tr>
        <tr>
          <td class="col-md-4"><label>经验值</label></td>
          <td class="col-md-3" id="uexp">{{exp}}</td>
          <td class="col-md-5"><input type="text" id="addexp"><button onclick="modify_user('{{can_modify}}','uexp','addexp')">增加</button></td>
        </tr>
        <tr>
          <td class="col-md-4"><label>角色等级</label></td>
          <td class="col-md-3" id="ulv">{{lv}}</td>
          <td class="col-md-5"><input type="text" id="addlv"><button onclick="modify_user('{{can_modify}}','ulv','addlv')">增加</button></td>
        </tr>
        <tr>
          <td class="col-md-4"><label>vip等级</label></td>
          <td class="col-md-3" id="uvip_lv">{{vip_lv}}</td>
          <td class="col-md-5"><input type="text" id="addvip_lv"><button onclick="modify_user('{{can_modify}}','uvip_lv','addvip_lv')">增加</button></td>
        </tr>
        <tr>
          <td class="col-md-4"><label>体力</label></td>
          <td class="col-md-3" id="ustamina">{{stamina}}</td>
          <td class="col-md-5"><input type="text" id="addstamina"><button onclick="modify_user('{{can_modify}}','ustatmina','addstamina')">添加</button></td>
        </tr>
        <tr>
          <td class="col-md-4"><label>砖石</label></td>
          <td class="col-md-3" id="udiamond">{{diamond}}</td>
          <td class="col-md-5"><input type="text" id="adddiamond"><button onclick="modify_user('{{can_modify}}','udiamond','adddiamond')">添加</button></td>
        </tr>
        <tr>
          <td class="col-md-4"><label>金钱</label></td>
          <td class="col-md-3" id="umoney">{{money}}</td>
          <td class="col-md-5"><input type="text" id="addmoney"><button onclick="modify_user('{{can_modify}}','umoney','addmoney')">添加</button></td>
        </tr>
        <tr>
          <td class="col-md-4"><label>城市代币</label></td>
          <td class="col-md-3" id="ucityjeton">{{city_jeton}}</td>
          <td class="col-md-5"><input type="text" id="addcity_jeton"><button onclick="modify_user('{{can_modify}}','ucityjeton','addcityjeton')">添加</button></td>
        </tr>
        <tr>
          <td class="col-md-4"><label>天梯代币</label></td>
          <td class="col-md-3" id="upkjeton">{{pk_jeton}}</td>
          <td class="col-md-5"><input type="text" id="addpk_jeton"><button onclick="modify_user('{{can_modify}}','upkjeton','addpk_jeton')">添加</button></td>
        </tr>
        <tr>
          <td class="col-md-4"><label>英魂</label></td>
          <td class="col-md-3" id="uherosoul">{{heroSoul}}</td>
          <td class="col-md-5"><input type="text" id="addhero_soul"><button onclick="modify_user('{{can_modify}}','uherosoul','addhero_soul')">添加</button></td>
        </tr>
        <tr>
          <td class="col-md-4"><label>蓝元素掌握度</label></td>
          <td class="col-md-3" id="unature_0">{{nature_0}}</td>
          <td class="col-md-5"><input type="text" id="addnature_0"><button onclick="modify_user('{{can_modify}}','unature_0','addnature_0')">添加</button></td>
        </tr>
        <tr>
          <td class="col-md-4"><label>红元素掌握度</label></td>
          <td class="col-md-3" id="unature_1">{{nature_1}}</td>
          <td class="col-md-5"><input type="text" id="addnature_1"><button onclick="modify_user('{{can_modify}}','unature_1','addnature_1')">添加</button></td>
        </tr>
        <tr>
          <td class="col-md-4"><label>绿元素掌握度</label></td>
          <td class="col-md-3" id="unature_2">{{nature_2}}</td>
          <td class="col-md-5"><input type="text" id="addnature_2"><button onclick="modify_user('{{can_modify}}','unature_2','addnature_2')">添加</button></td>
        </tr>
        <tr>
          <td class="col-md-4"><label>褐元素掌握度</label></td>
          <td class="col-md-3" id="unature_3">{{nature_3}}</td>
          <td class="col-md-5"><input type="text" id="addnature_3"><button onclick="modify_user('{{can_modify}}','unature_3','addnature_3')">添加</button></td>
        </tr>
        <tr>
          <td class="col-md-4"><label>黄元素掌握度</label></td>
          <td class="col-md-3" id="unature_4">{{nature_4}}</td>
          <td class="col-md-5"><input type="text" id="addnature_4"><button onclick="modify_user('{{can_modify}}','unature_4','addnature_4')">添加</button></td>
        </tr>
        <tr>
          <td class="col-md-4"><label>紫元素掌握度</label></td>
          <td class="col-md-3" id="unature_5">{{nature_5}}</td>
          <td class="col-md-5"><input type="text" id="addnature_5"><button onclick="modify_user('{{can_modify}}','unature_5','addnature_5')">添加</button></td>
        </tr>
        <tr>
          <td class="col-md-4"><label>剩余元素掌握度</label></td>
          <td class="col-md-3" id="unature_remain">{{nature_remain}}</td>
          <td class="col-md-5"><input type="text" id="addnature_remian"><button onclick="modify_user('{{can_modify}}','unature_remain','addnature_remain')">添加</button></td>
        </tr>
      </table>
{% elif detail_category == 'cards' %}
asfasdf
{% endif %}
    </div>
    <div class="col-md-3 col-md-offset-4">
      <div class="list-group">
        <a href="/admin/player_detail?uid={{uid}}" class="list-group-item active">
           基本数据
        </a>
        <a href="/admin/player_detail?uid={{uid}}&category=cards" class="list-group-item">卡片编队</a>
  </div>
</div>
    



{% endblock %}
