{% extends "frame.html" %}
{% block main %}
<script type="text/javascript" src="/static/js/main.js"></script>
<script type="text/javascript">
    // 反选
    function turn_select() {
        var all_select = document.getElementsByClassName("select_card"); 
        for(var i=0;i<all_select.length;i++){
            all_select[i].checked = !all_select[i].checked;
        }
    } 
</script>

<form class="form-inline">
  <div class="form-group col-md-offset-1">
    <label><h4>查询玩家信息</h4></label>
    <input type="text" class="form-control" id="uid" name='uid' placeholder="" value={{uid}}>
  </div>
  <button type="submit" class="btn btn-warning">确定</button>
</form>

<div>
  {% if uid == '' %} 
  <div class="alert alert-danger" role="alert">无此uid玩家!</div>
  {% endif %}
</div>

<div class="container-fluid"> 
  <div class="row">
    <div class="col-md-7">
    {% if not detail_category %}
      <table class="table table-bordered">
        <tr>
          <td class="col-md-4"><label>用户uid</label></td>
          <form>
          <td class="col-md-3">{{uid}}</td>
          <td class="col-md-5"></td>
          </form>
        </tr>
        <tr>
          <td class="col-md-4"><label>用户名</label></td>
          <td class="col-md-3" id="uname">{{name}}</td>
          <td class="col-md-5"><input type="text" id="newname"><button onclick="modify_user('{{can_modify}}','uname','newname')">修改</button></td>
        </tr>
        <tr>
          <td class="col-md-4"><label>性别</label></td>
          <td class="col-md-3">{{gender}}</td>
          <td class="col-md-5"></td>
          </form>
        </tr>
        <tr>
          <td class="col-md-4"><label>经验值</label></td>
          <td class="col-md-3" id="uexp">{{exp}}</td>
          <td class="col-md-5"><input type="text" id="addexp"><button onclick="modify_user('{{can_modify}}','uexp','addexp')">增加</button></td>
        </tr>
        <tr>
          <td class="col-md-4"><label>角色等级</label></td>
          <td class="col-md-3" id="ulv">{{lv}}</td>
          <td class="col-md-5"><input type="text" id="addlv"><button onclick="modify_user('{{can_modify}}','ulv','addlv')">增加</button></td>
        </tr>
        <tr>
          <td class="col-md-4"><label>vip等级</label></td>
          <td class="col-md-3" id="uvip_lv">{{vip_lv}}</td>
          <td class="col-md-5"><input type="text" id="addvip_lv"><button onclick="modify_user('{{can_modify}}','uvip_lv','addvip_lv')">增加</button></td>
        </tr>
        <tr>
          <td class="col-md-4"><label>体力</label></td>
          <td class="col-md-3" id="ustamina">{{stamina}}</td>
          <td class="col-md-5"><input type="text" id="addstamina"><button onclick="modify_user('{{can_modify}}','ustamina','addstamina')">添加</button></td>
        </tr>
        <tr>
          <td class="col-md-4"><label>钻石</label></td>
          <td class="col-md-3" id="udiamond">{{diamond}}</td>
          <td class="col-md-5"><input type="text" id="adddiamond"><button onclick="modify_user('{{can_modify}}','udiamond','adddiamond')">添加</button></td>
        </tr>
        <tr>
          <td class="col-md-4"><label>金币</label></td>
          <td class="col-md-3" id="ucoin">{{coin}}</td>
          <td class="col-md-5"><input type="text" id="addcoin"><button onclick="modify_user('{{can_modify}}','ucoin','addcoin')">添加</button></td>
        </tr>
        </tr>
        <tr>
          <td class="col-md-4"><label>天梯代币</label></td>
          <td class="col-md-3" id="upk_jeton">{{pk_jeton}}</td>
          <td class="col-md-5"><input type="text" id="addpk_jeton"><button onclick="modify_user('{{can_modify}}','upk_jeton','addpk_jeton')">添加</button></td>
        </tr>
        <tr>
          <td class="col-md-4"><label>英魂</label></td>
          <td class="col-md-3" id="uheroSoul">{{heroSoul}}</td>
          <td class="col-md-5"><input type="text" id="addheroSoul"><button onclick="modify_user('{{can_modify}}','uheroSoul','addheroSoul')">添加</button></td>
        </tr>
        <tr>
          <td class="col-md-4"><label>蓝 · 元素掌握度</label></td>
          <td class="col-md-3" id="unature_0">{{nature_0}}</td>
          <td class="col-md-5"><input type="text" id="addnature_0"><button onclick="modify_user('{{can_modify}}','unature_0','addnature_0')">添加</button></td>
        </tr>
        <tr>
          <td class="col-md-4"><label>红 · 元素掌握度</label></td>
          <td class="col-md-3" id="unature_1">{{nature_1}}</td>
          <td class="col-md-5"><input type="text" id="addnature_1"><button onclick="modify_user('{{can_modify}}','unature_1','addnature_1')">添加</button></td>
        </tr>
        <tr>
          <td class="col-md-4"><label>绿 · 元素掌握度</label></td>
          <td class="col-md-3" id="unature_2">{{nature_2}}</td>
          <td class="col-md-5"><input type="text" id="addnature_2"><button onclick="modify_user('{{can_modify}}','unature_2','addnature_2')">添加</button></td>
        </tr>
        <tr>
          <td class="col-md-4"><label>褐 · 元素掌握度</label></td>
          <td class="col-md-3" id="unature_3">{{nature_3}}</td>
          <td class="col-md-5"><input type="text" id="addnature_3"><button onclick="modify_user('{{can_modify}}','unature_3','addnature_3')">添加</button></td>
        </tr>
        <tr>
          <td class="col-md-4"><label>黄 · 元素掌握度</label></td>
          <td class="col-md-3" id="unature_4">{{nature_4}}</td>
          <td class="col-md-5"><input type="text" id="addnature_4"><button onclick="modify_user('{{can_modify}}','unature_4','addnature_4')">添加</button></td>
        </tr>
        <tr>
          <td class="col-md-4"><label>紫 · 元素掌握度</label></td>
          <td class="col-md-3" id="unature_5">{{nature_5}}</td>
          <td class="col-md-5"><input type="text" id="addnature_5"><button onclick="modify_user('{{can_modify}}','unature_5','addnature_5')">添加</button></td>
        </tr>
        <tr>
          <td class="col-md-4"><label>剩余元素掌握度</label></td>
          <td class="col-md-3" id="unature_remain">{{nature_remain}}</td>
          <td class="col-md-5"><input type="text" id="addnature_remain"><button onclick="modify_user('{{can_modify}}','unature_remain','addnature_remain')">添加</button></td>
        </tr>
      </table>
      {% elif detail_category == 'cards' %}
      {% for city_id, city in cities|dictsort %}
      {% if city["team"] %}
      <table class="table table-bordered table-condensed table-striped">
        <caption>城{{city_id}}编队 </caption>
        <tr>
          <th>序</th>
          <th>卡名</th>
          <th>品质</th>
          <th>等级</th>
          <th>好感度</th>
          <th>元素</th>
          <th>攻击模式</th>
          <th>阵营</th>
          <th>神话</th>
        </tr>
        {% for card_id in city["team"] %}
        <tr>
        <td>{{loop.index}}</td>
        {% if not card_id %}
        <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
        {% else %}
          <td><label>{{card_config[card_id]['name']}}</label></td>
          <td>{{card_words['quality'][card_config[card_id]['quality']]}}</td>
          <td>{{cards[card_id]['lv']}}</td>
          <td>{{cards[card_id]['favor']}}</td>
          <td>
            {% for type in card_config[card_id]['type'] %}
                {{card_words['type'][type]}} 
            {% endfor %}
          </td>
          <td>{{card_words['attack_type'][card_config[card_id]['attack_type']]}}</td>
          <td>{{card_words['camp'][card_config[card_id]['camp']]}}</td>
          <td>{{card_words['myth'][card_config[card_id]['myth']]}}</td>
        </tr>
        {% endif %}
        {% endfor %}
      </table>
      {% endif %}  {# end judge empty team #}
      {% endfor %} {# end loop teams #}
      <table id="has_cards" class="table table-bordered table-condensed table-striped">
        <caption> 拥有卡牌 </caption>
        <tr>
          <th>卡名</th>
          <th>品质</th>
          <th>等级</th>
          <th>好感度</th>
          <th>元素</th>
          <th>攻击模式</th>
          <th>阵营</th>
          <th>神话</th>
          <th>数量</th>
          <th>召唤 | 释放</th>
        </tr>
        {% for card_id in cards %}
        <tr>
          <td><label>{{card_config[card_id]['name']}}</label></td>
          <td>{{card_words['quality'][card_config[card_id]['quality']]}}</td>
          <td><input class="sm-input" type="text" id="{{card_id}}_lv" value="{{cards[card_id]['lv']}}"><button onclick="modify_user('{{can_modify}}','{{card_id}}_lv','{{card_id}}_lv')">改</button></td>
          <td><input class="sm-input" type="text" id="{{card_id}}_favor" value="{{cards[card_id]['favor']}}"><button onclick="modify_user('{{can_modify}}','{{card_id}}_favor','{{card_id}}_favor')">改</button></td>
          <td>
            {% for type in card_config[card_id]['type'] %}
                {{card_words['type'][type]}} 
            {% endfor %}
          </td>
          <td>{{card_words['attack_type'][card_config[card_id]['attack_type']]}}</td>
          <td>{{card_words['camp'][card_config[card_id]['camp']]}}</td>
          <td>{{card_words['myth'][card_config[card_id]['myth']]}}</td>
          <td><input class="sm-input" type="text" id="{{card_id}}_num" value="{{cards[card_id]['num']}}"><button onclick="modify_user('{{can_modify}}','{{card_id}}_num','{{card_id}}_num')">改</button></td>
          <td>
            {% if cards[card_id]['num'] %}
             <input class="sm-input" type="text" id="dismiss_{{card_id}}" value="dismiss_one"><button onclick="modify_user('{{can_modify}}','dismiss_{{card_id}}','dismiss_{{card_id}}')">释放</button></td>
            {% else %}
            <button onclick="modify_user('{{can_modify}}','summon_{{card_id}}','{{card_id}}_num')">召唤</button></td>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </table>
      <form class="form-inline" method="post" action="/admin/modify_player/add_cards/{{uid}}">
      <table id="add_cards" class="table table-bordered table-condensed table-striped">
        <caption> 添加卡片 </caption>
        {% for card_info in sorted_cards %}
          {% if (loop.index) % 6 == 1 %}
            <tr>
          {% endif %}
          <td>
            <input class="select_card" type="checkbox" name="new_cards" value={{card_info.id}}>
            {{card_info.id|replace("_card", "")}}:{{card_info.name}}</td>
          {% if (loop.index) % 6 == 6 %}
            </tr>
          {% endif %}
        {% endfor %} 
      </table>
      <div style="float:right">
        <button type="button" onclick="turn_select()" class="btn btn btn-primary">反选</button>
        <button type="submit" class="btn btn-success">添加所选</button>
        <label for="card_num">数量:</label>
        <input type="text" class="form-control" id="card_num" name="card_num"  value="1" >
      </div>
      </form>
    

      {% endif %}  {# end swich detail_category #}
    </div>
    <div class="col-md-3 col-md-offset-2">
      <div class="list-group">
        <a href="/admin/player_detail?uid={{uid}}" class="list-group-item active">
           基本数据
        </a>
        <a href="/admin/player_detail?uid={{uid}}&category=cards" class="list-group-item">卡片编队</a>
      </div>
  </div>
</div>
    



{% endblock %}
